@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header-selection {
    @apply dark:bg-slate-800 bg-slate-200 font-bold;
  }

  .custom-shadow {
    @apply shadow dark:shadow-lg dark:shadow-cyan-500/10;
  }

  .menu-header {
    @apply p-5 min-w-[100px] flex justify-center hover:header-selection;
  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
